<!-- How to Rent -->
<div class="w3-container" id="How to Rent" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-purple"><b>How to Rent. </b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">

     <!-- Collapsible Section 2: How to Rent -->
    <p> Procedure on How to Rent.</p>

    <button class="w3-button w3-block w3-purple w3-round" onclick="toggleCollapsible('HowToRentContent')">How To Rent</button>
    <div id="HowToRentContent" class="collapsible-content" style="display:none;">
      
      <p> 
      1. You are welcome to come early to the shop prior to you event to book the costume. You can book the costume anytime you want. <br><br>

      2. Rental is for a period of 3 days only. Additional days may be subject to additional charges. <br><br>
      
      3. Once you have tested the costume , you can book the costume by paying the rental fee. Our booking fee is the rental fee. <br><br>

      4. Do note that only by paying the booking fee, shall the costume be reserved for you on the particular date. <br><br>
      
      5. On the day before your event, come to our shop to collect the costume. If you have paid the booking fee, you are only required to pay a deposit. <br><br>

      6. If you have not paid any booking fee, you can rent the costume on the spot provided the costume is available. You must pay the rental fee and the deposit before collecting the costume. <br><br>
      
      7. After the event, return our costume within the stipulated time stated on the rental sheet. Late charges will apply if you return the costume late. Other charges may apply as well if the item is damaged. <br><br>
      
      8. Once you return the costume, we will refund your deposit.
      
      
      </p>
    </div>
</div>